*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #fcf9ea;
    
}
h1{
  font-family: 'Merriweather', serif;
  color: coral;
}



 .headerPart{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:#ff8a5c;
    margin: 0 auto;
    
    
    
}
.logo{
    width: 150px;
    height: 150px;
    
    
}

.navigation ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 2em;
    padding: 1em 1em;
    
	
	
}
.navigation a{ 
    font-family: 'Lato', sans-serif;
    color: white;
    text-decoration: none;
    margin: 40px;
    font-size: 30px;
    
}
.navigation a:hover{
    background:#49beb7;
    padding: 15px;
     border-radius: 3%
}
.container1{
    height: 400px;
    width: 1200px;
    margin: 0 auto;
    
    margin-top: 20px;
    background: #badfdb;
}

.container2{
    
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    background: #badfdb;
    margin-top: 20px;
}


.pictures{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.pictures img{
    margin-top: 25px;
    margin-bottom: 25px;
    align-content: center;
    vertical-align: middle;
    width: 280px;
    height: 280px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
     
    
}

.pictures img:hover {
   box-shadow: 0 0 10px 10px #fcf9ea;
}
.pic1{
    background: #badfdb;
    height: 500px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    
 
    
   
}
hr{
    
    border: 5px solid #49beb7;
    width: 1200px;
    margin: 0 auto;
}
footer{
    width: 1200px;
    height: 200px;
   
    background:#ff8a5c;
    margin: 0 auto;
}

